{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'reset.css' %}">
    <link rel="stylesheet" href="{% static 'change_password.css' %}">
    
    
    
</head>
<body>
    <header>
        <a href="{% url 'index' %}" class="logo-href"><div class="logo">СЛЕДОК <span class="first">T</span><span class="second">V</span> </div></a>
    </header>
    <div class="center">
    
    <form method="POST" id="login-form">

        {% csrf_token %}
        <!-- form variable -->    
         {{ form.as_p }} 
         <button type="submit">Submit</button>

        
          
    </form>
    

    </div>
    
    
    
</body>
</html>