{% extends 'base.html' %}
{% load static %}



{% block link %}
<link rel="stylesheet" href="{% static 'about.css' %}">


{% endblock link %}

{% block title %}О сайте {% endblock title %}
  

{% block content %}
    <div class='main'>
    <div class='content'>
        <span>СЛЕДОК TV</span> - это сервис созданный для того чтобы вы никогда не пропустили и всегда были в курсе всех эпизодов 
        ваших любимых сериалов
    </div>
    <div class='about'>
        В 21 веке индустрия кино развивается стремительным образом,такие компании как Netflix, HBO, Apple TV+ создают контент, который потребляют 
        миллионы людей.Поэтому многие из нас не всегда успевают следить, за тем когда ждать новой серии определенного сериала . Какое кол-во вы 
        сейчас ждете? 1-7? Не можете вспомнить? Есть решение наш сайт sledoktv. 
        Благодаря нашему проекту вы сможете найти свой любимый сериал и настроить оповещение через почту или телеграмм.
        Вам будет приходить уведомление о выходе новых серий вашего сериала.
    </div>

    <div class='instruction'>
                   <div class='name'> Инструкция</div>
    
        <div class='flex'>
        <div class='first rule'>
               <h3> 1. Нажмите кнопку регистрация</h3>
                <img src='https://sledoktv.ru/media/1.jpg'>
        </div>
        <div class='second rule'>
            <h3>2. Придумайте ник</h3>
            <p>- Напишите рабочую электронную почту <br>
            - Придумайте пароль<br>
            </p>
            <img src='https://sledoktv.ru/media/2.jpg'>
        </div>
        <div class='free rule'> 
                <h3>3. Нажмите на иконку пользователя</h3>
                <img src='https://sledoktv.ru/media/3.jpg'>
         </div>
        </div>
        <div class='four rule'>
            <h3>4. Выберите метод оповещения электронная почта или телеграм</h3>
            <img src='https://sledoktv.ru/media/4.jpg'>
        </div>
        <div class='five rule'>
            <h3>5. Нажмите отправить</h3>
            <p>- Электронная почта вы получите сообщение об успешной настройке оповещения</p>
            <p>- Телеграм вы получите сообщение по электронной почте и инструкцией по настройкые <br>

                
        </div>
        <div class='six rule'>
            <h3>6. Найдите свой любимый сериал через поиск (мой острые козырьки)</h3>
            <img src='https://sledoktv.ru/media/6.jpg'>

        </div>
        <div class='seven rule'>
            <h3>7. Нажмите на кнопку "Добавить в коллекцию",чтобы добавить сериал в свою коллекцию </h3>
            <img src='https://sledoktv.ru/media/7.jpg'>

        </div>
        <div class='eith rule'>
            <h3>9. В вашеи личном кабинете собраны сериалы за которыми мы будем следить для вас.</h3>
            <img src='https://sledoktv.ru/media/8.jpg'>
        </div>
        
    </div>
    
    
    </div>
    
{% endblock content %}


    





</body>
