{% extends 'base.html' %}
{% load static %}



{% block link %}
<link rel="stylesheet" href="{% static 'about.css' %}">


{% endblock link %}
{% block title %} {{title_words}} {% endblock title %}


  

{% block content %}
    <div class='main'>
    <div class='content'>
        <span>СЛЕДОК TV</span> - это сервис созданный для того чтобы вы никогда не пропустили и всегда были в курсе всех эпизодов 
        ваших любимых сериалов
    </div>
    <div class='about'>
        В 21 веке индустрия кино развивается стремительным образом,такие компании как Netflix, HBO, Apple TV+ создают контент, который потребляют 
        миллионы людей.Поэтому многие из нас не всегда успевают следить, за тем когда ждать новой серии определенного сериала . Какое кол-во вы 
        сейчас ждете? 1-7? Не можете вспомнить? Есть решение наш сайт sledoktv. 
        Благодаря нашему проекту вы сможете найти свой любимый сериал и настроить оповещение через почту или телеграмм.
        Вам будет приходить уведомление о выходе новых серий вашего сериала.
    </div>

    <div class='instruction'>
                   <div class='name'> Инструкция</div>
    
        <div class='flex'>
        <div class='first rule'>
               <h3> 1. Нажмите кнопку регистрация</h3>
                <img src='https://sun9-27.userapi.com/impg/nW3R5wACcVfR6NhBCkbf-9W91l5-yfOnBwwDAQ/N3AH7HQ9dt0.jpg?size=1366x670&quality=96&sign=0174959213814aa3fdab44ba76328050&type=album'>
        </div>
        <div class='second rule'>
            <h3>2. Придумайте ник</h3>
            <p>- Напишите рабочую электронную почту <br>
            - Придумайте пароль<br>
            </p>
            <img src='https://sun9-64.userapi.com/impg/hZAVsUKXQ1DHsq6eedCt9w1srMAfEnx0lZw1uQ/kabf1zJQ0kc.jpg?size=1365x648&quality=96&sign=6d506576ea1cb0e7be12b8ad8417e936&type=album'>
        </div>
        <div class='free rule'> 
                <h3>3. Нажмите на иконку пользователя</h3>
                <img src='https://sun9-36.userapi.com/impg/9iJc-2kZUjAaODzMkbKeJ17Nf6ERY0veaPvzlg/y8NzCzw4498.jpg?size=604x301&quality=96&sign=12ef7b9612fb890db7fb40b3b67d2e3a&type=album'>
         </div>
        </div>
        <div class='four rule'>
            <h3>4. Выберите метод оповещения электронная почта или телеграм</h3>
            <img src='https://sun9-24.userapi.com/impg/6j9NeyS-rGTKDV7AN4OFLftAugRMvhDTX-4Myg/Wzsj-kq0Pis.jpg?size=604x294&quality=96&sign=de78ac79f3d067798f373dde102c4434&type=album'>
        </div>
        <div class='five rule'>
            <h3>5. Нажмите отправить</h3>
            <p>- Электронная почта вы получите сообщение об успешной настройке оповещения</p>
            <p>- Телеграм вы получите сообщение по электронной почте и инструкцией по настройкые <br>

                
        </div>
        <div class='six rule'>
            <h3>6. Найдите свой любимый сериал через поиск (мой острые козырьки)</h3>
            <img src='https://sun9-31.userapi.com/impg/l0s_fSF6swYzRGRp6E_uTuL69HXlWengrO3mXg/oQhDTwluwoo.jpg?size=604x300&quality=96&sign=a5346af2734edeb14b892797d5dc0881&type=album'>

        </div>
        <div class='seven rule'>
            <h3>7. Нажмите на кнопку "Добавить в коллекцию",чтобы добавить сериал в свою коллекцию </h3>
            <img src=''>

        </div>
        <div class='eith rule'>
            <h3>9. В вашеи личном кабинете собраны сериалы за которыми мы будем следить для вас.</h3>
            <img src=''>
        </div>
        
    </div>
    
    
    </div>
    
{% endblock content %}


    





</body>